/* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #fff;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    height: calc(100vh - 70px);
    background-color: #000;
    overflow-y: scroll;
    position: relative;
}

footer {
    background-color: #222222;
    height: 70px;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 10px;
    padding-right: 0;
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

/* LAYOUT */
.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 70px 70px 70px 50px;
}

.col-14 {
    min-width: 100px;
    width: calc(100% / 7);
}

.col-20 {
    min-width: 100px;
    width: 20%;
}

.col-60 {
    min-width: 100px;
    width: 60%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* STYLES */
img {
    width: 100%;
    padding: 2px;
}

.user-image {
    position: relative;
}

.user-image i, .user-name, .toolbar-text {
    font-size: 12px;
}

.user-name i {
   padding-right: 5px;
}

.user-image .user-name {
    background-color: #7777778e;
    position: absolute;
    bottom: 5px;
    left: 2px;
    padding: 5px;
}

.toolbar {
    position: relative;
}

.toolbar-label {
    padding: 10px 25px;
    position: absolute;
    right: 0;
}

.toolbar-text {
    background-color: #7777778e;
    padding: 5px;
    margin-left: 10px;
    border-radius: 7px;
}

.toolbar-label .fa-table-cells {
    padding-right: 5px;
}

p {
    font-size: 10px;
    padding-top: 3px;
}

.footer-icon {
    font-size: 18px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
}

.caret-down {
    padding: 0 5px;
    margin: 10px 5px 0 5px;
    cursor: pointer;
}

.footer-icon:last-child {
    margin: 0;
}

.m-0 {
    margin: 0;
}

.center-icon:nth-child(4) {
    color: #4CCA00;
}

.content-footer {
    color: #ff0000;
    background-color: #4b4b4b;
    padding: 30px 20px;
    font-size: 12px;
}