/* GENERAL SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #fff;
}

main {
    height: calc(100vh - 70px);
    background-color: #000;
    overflow-y: scroll;
}

footer {
    background-color: #4b4b4b;
    height: 70px;
}

/* LAYOUT */
.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 50px 50px 20px 50px;
    border: 1px solid #fff;
}

.col-14 {
    width: calc(100% / 7);
}

.col-20 {
    width: 20%;
}

.col-60 {
    width: 60%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* STYLES */
img {
    width: 100%;

    padding: 2px;
}

.user-image {
    position: relative;
}

.user-image i, span {
    font-size: 10px;
}

.label i {
   padding-right: 5px;
}

.user-image span {
    background-color: #00000070;
    position: absolute;
    bottom: 5px;
    left: 2px;
    padding: 5px;
}